@import url("./variables.css");

/* Default styles */
.heading {
  font-size: var(--font-size-heading);
  height: var(--heading-space);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - var(--heading-space));
  transition: all 0.3s ease;
}

.left-section {
  background-color: var(--background);
  overflow-y: auto;
  position: relative;
}

.right-section {
  background-color: var(--background-two);
}

.toggle-button {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 1000;
  width: 6rem;
  padding: 0.25rem 0;
  background-color: white;
  border: 1px solid var(--customer-card-hover);
  font-size: 1rem;
  border-radius: 0.5rem;
}

.toggle-button:hover {
  background-color: var(--background-card-hover);
  border-color: var(--background-card-hover);
  color: white;
}

@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }
  .main-grid {
    grid-template-columns: 1fr;
  }

  .left-section {
    position: fixed;
    top: var(--heading-space);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .main-grid.left-open .left-section {
    transform: translateX(0);
  }

  .main-grid.left-open .right-section {
    display: none;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }
}
