@import url(./variables.css);
.image-container {
  height: var(--image-container);
  width: full !important;
  border-radius: 1rem;
  background: #000;
}

@media (max-width: 650px) {
  .image-container {
    width: 100%;
  }
}
