.selected-customer-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.selected-customer-name {
  font-size: 3rem;
  text-align: center;
}
.selected-customer-title {
  text-align: center;
  line-height: 1.5;
  color: #52525b;
}
.selected-customer-address {
  font-size: 1.5rem;
  text-align: center;
}
/* image container */
.customer-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

/* customer-not-selected */
.selected-customer-empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for small screens */
@media (max-width: 650px) {
  .customer-image-container {
    grid-template-columns: 2fr;
  }
}
