:root {
  /* Colors */
  --background: #fafafa;
  --background-two: #f4f4f5;
  --background-card-hover: #27272a;
  --card-secondary-font: #52525b;
  /* Fonts */
  --font-size-heading: 2rem;
  --font-customer-heading: 1.5rem;
  /* Spacing */
  --heading-space: 4rem;
}
